@model List<ArticleViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Defatult Area İçerisindesiniz</h1>
<br />
<br />

@foreach (var article in Model)
{
    <h1>@article.Title</h1><br />
    @* <h3>@article.Content</h3> *@
    <h3>@article.CreatedDate</h3>
    <h3>@article.CreatedBy</h3>
}
