@model UserAddViewModel

<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-md-12">
			<div class="card mb-4">
				<h5 class="card-header">Kullanıcı Ekleme Sayfası</h5>
				<form asp-area="Admin" asp-controller="User" asp-action="Add" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="All" style="color:red"></div>
					<div class="card-body">
						<div class="form-group mb-3">
							<label asp-for="FirstName" class="form-label">KULLANICI İSMİ</label>
							<input asp-for="FirstName" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kullanıcının İsminizi Giriniz" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group mb-3">
							<label asp-for="LastName" class="form-label">KULLANICI SOYİSMİ</label>
							<input asp-for="LastName" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kullanıcının Soyisminizi Giriniz" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group mb-3">
							<label asp-for="UserName" class="form-label">KULLANICI ADI</label>
							<input asp-for="UserName" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kullanıcı Adınızı Giriniz" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group mb-3">
							<label asp-for="roleId" class="form-label">KULLANICININ ROLÜ</label>
							<select class="form-control" asp-for="roleId" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>
						</div>
						<div class="form-group mb-3">
							<label asp-for="Email" class="form-label">KULLANICI MAİL ADRESİ</label>
							<input asp-for="Email" type="email" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kullanıcının Mail Adresini Giriniz" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group mb-3">
							<label asp-for="PhoneNumber" class="form-label">TELEFON NUMARASI</label>
							<input asp-for="PhoneNumber" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kullanıcının Telefon Numarasını Giriniz" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group mb-3">
							<label asp-for="Password" class="form-label">KULLANICI ŞİFRE</label>
							<input asp-for="Password" type="password" class="form-control" id="defaultFormControlInput" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="defaultFormControlHelp">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>